h1{
    font-size: 3rem;
    line-height: 4rem;
}
.about-me{
    margin: 0 auto;
    max-width: 500px;
}
img{
    width: 500px;
    height: 500px;

}
Føtex{
    max-width: 500px;
    max-height: 500px;

}